@view-transition {
  navigation: auto;
}
/* For accesibility */
@media (prefers-reduced-motion: reduce) {
  * {
    view-transition-name: unset !important;
  }
}
body {
  background-color: antiquewhite;
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes fadeScreenFromLeftToRight {
  0% {
    transform: translateX(0vh);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes fadeScreenInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

::view-transition-old(root) {
  animation: fadeScreenFromLeftToRight 1s ease-in-out both;
}

::view-transition-new(root) {
  animation: fadeScreenInFromRight 1s ease-in-out both;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  left: 0%;
  bottom: 0;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 0;
  top: 75%;
  height: 2px;
  background: black;
  transition: width 500ms ease;
}

a:hover::after {
  width: 70%;
}
