/* CSS of the web Component  */
index-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

index-view > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

index-view > section > p {
  width: 50%;
  min-width: 150px;
  text-align: justify;
  line-height: 30px;
}
/* CSS container with link */
.container--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border-radius: 20px;
  padding: 30px;
  gap: 30px;
}

/* Baseline status CSS */
baseline-status {
  border: 2px solid black;
}

/* Span on Useful Word */
span {
  font-weight: bold;
  text-decoration: underline;
}
